<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and
  security.</p>
<![endif]-->

<div class="page-bg"></div>
<div class="page-top {{#if banner}}page-top--has-banner{{/if}}">
  <div class="page-top__content">
    <header id="header" class="header">
      <div class="header__container">
        <div class="header__logo">
          <a href="/"><img src="{{assets}}/img/logo-arkane-black.svg" alt="logo arkane"></a>
        </div>
        <div class="header__crumbs">
          <ul>
            <li>
              <a href="/">Docs</a>
            </li>
            <li>
              {{ category }}
            </li>
            <li class="active">
              {{ title }}
            </li>
          </ul>
        </div>
      </div>
    </header>
  </div>
  {{#if banner}}
    <div class="page-banner">
      <div class="page-banner__content">
        <span>{{bannerText}}</span>
        {{#if bannerCtaLink}}<a class="btn" href="{{bannerCtaLink}}">{{bannerCtaText}}</a>{{/if}}
      </div>
    </div>
  {{/if}}
</div>
